<!DOCTYPE html>
<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Atelier responsive</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="node_modules/simplebar/dist/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/examples.css" rel="stylesheet">
    <script src="js/config.js"></script>
    <script src="js/color-modes.js"></script>
    <link href="node_modules/@coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
        <div class="sidebar-header border-bottom">
            <div class="sidebar-brand">
                <svg class="sidebar-brand-full" width="88" height="32" alt="CoreUI Logo">
                    <use xlink:href="assets/brand/coreui.svg#full"></use>
                </svg>
                <svg class="sidebar-brand-narrow" width="32" height="32" alt="CoreUI Logo">
                    <use xlink:href="assets/brand/coreui.svg#signet"></use>
                </svg>
            </div>
            <button class="btn-close d-lg-none" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark"
                aria-label="Close"
                onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
        </div>
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
            <li class="nav-item"><a class="nav-link" href="home.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-newspaper"></use>
                    </svg> Actualités</a></li>
            <li class="nav-title">Bases de données</li>
            <li class="nav-item"><a class="nav-link" href="clients.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-people"></use>
                    </svg> Base clients</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="annonces.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-house"></use>
                    </svg> Base annonces</a>
            </li>
            <li class="nav-title">Contact</li>
            <li class="nav-item"><a class="nav-link" href="messegerie.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chat-bubble"></use>
                    </svg> Chat et appels</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="calendar.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calendar"></use>
                    </svg> Calendrier</a>
            </li>
            <li class="nav-title">Mes chiffres</li>
            <li class="nav-item"><a class="nav-link" href="ventes.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-inbox"></use>
                    </svg> Mes ventes</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="analytique.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-graph"></use>
                    </svg> Analytique</a>
            </li>
            <li class="nav-title">Aide</li>
            <li class="nav-item"><a class="nav-link" href="contact.html">
                    <svg class="nav-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-info"></use>
                    </svg> Centre de contact</a>
            </li>
        </ul>
        <div class="sidebar-footer border-top d-none d-md-flex">
            <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
        </div>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100">
        <header class="header header-sticky p-0 mb-4">
            <div class="container-fluid border-bottom px-4">
                <button class="header-toggler" type="button"
                    onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
                    style="margin-inline-start: -14px;">
                    <svg class="icon icon-lg">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-menu"></use>
                    </svg>
                </button>
                <ul class="header-nav d-none d-lg-flex">
                    <li class="nav-item"><a class="nav-link" href="home.html">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Profil</a></li>
                    <li class="nav-item"><a class="nav-link" href="home.html">Paramètres</a></li>
                </ul>
                <ul class="header-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="home.html">
                            <svg class="icon icon-lg">
                                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell"></use>
                            </svg></a></li>
                    <li class="nav-item"><a class="nav-link" href="messegerie.html">
                            <svg class="icon icon-lg">
                                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
                            </svg></a></li>
                </ul>
                <ul class="header-nav">
                    <li class="nav-item py-1">
                        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link py-2 px-2 d-flex align-items-center" type="button"
                            aria-expanded="false" data-coreui-toggle="dropdown">
                            <svg class="icon icon-lg theme-icon-active">
                                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-contrast"></use>
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="--cui-dropdown-min-width: 8rem;">
                            <li>
                                <button class="dropdown-item d-flex align-items-center" type="button"
                                    data-coreui-theme-value="light">
                                    <svg class="icon icon-lg me-3">
                                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-sun"></use>
                                    </svg>Light
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item d-flex align-items-center" type="button"
                                    data-coreui-theme-value="dark">
                                    <svg class="icon icon-lg me-3">
                                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-moon"></use>
                                    </svg>Dark
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item d-flex align-items-center active" type="button"
                                    data-coreui-theme-value="auto">
                                    <svg class="icon icon-lg me-3">
                                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-contrast">
                                        </use>
                                    </svg>Auto
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item py-1">
                        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link py-0 pe-0" data-coreui-toggle="dropdown" href="#"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-md">
                                <!--<img class="avatar-img" src="" alt="">-->
                                <svg class="icon icon-lg">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end pt-0">
                            <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold rounded-top mb-2"> Compte</div>
                            <a class="dropdown-item" href="home.html">
                                <svg class="icon me-2">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell"></use>
                                </svg> Notifications
                                <span class="badge badge-sm bg-info ms-2">42</span>
                            </a>
                            <a class="dropdown-item" href="messegerie.html">
                                <svg class="icon me-2">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open">
                                    </use>
                                </svg> Messages
                                <span class="badge badge-sm bg-success ms-2">42</span>
                            </a>
                            <a class="dropdown-item" href="calendar.html">
                                <svg class="icon me-2">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calendar"></use>
                                </svg> Calendrier
                                <span class="badge badge-sm bg-danger ms-2">42</span>
                            </a>
                            <a class="dropdown-item" href="ventes.html">
                                <svg class="icon me-2">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-dollar"></use>
                                </svg> Mes ventes
                                <span class="badge badge-sm bg-warning ms-2">42</span>
                            </a>
                            <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold my-2">
                                <div class="fw-semibold">Paramètres</div>
                            </div>
                            <a class="dropdown-item" href="home.html">
                                <svg class="icon me-2">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                                </svg> Mon profil
                            </a>
                            <a class="dropdown-item" href="connexion.html">
                                <svg class="icon me-2">
                                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout">
                                    </use>
                                </svg> Se connecter
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container-fluid px-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0">
                        <li class="breadcrumb-item"><a href="#">Home</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/portrait-confiant-regarder-photographe_23-2148398473.jpg?t=st=1728166278~exp=1728169878~hmac=33b6931ff9d43a947400e4c455571f4572704b307fc09409fe0d7c06f343059e&w=1800"
                            class="card-img-top" alt="...">
    
                        <div class="card-body">
                            <h5 class="card-title">Antony DORIS</h5>
                            <p class="card-text">Responsable RH</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">antony.doris@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 89</li>
                            <li class="list-group-item">Disponibilité : Lundi - Vendredi, 9h - 18h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/portrait-jeune-fille-souriante_23-2149260597.jpg?t=st=1728166552~exp=1728170152~hmac=c7ecb3d995ab34e5a42c2829cfb90e7a25cc470538ac11deb45284face6690c1&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">Émilie Dupont</h5>
                            <p class="card-text">Référent Commercial</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">emilie.dupont@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 89</li>
                            <li class="list-group-item">Disponibilité : Lundi - Vendredi, 9h - 18h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/souriant-millenaire-homme-regardant-camera-dans-cafe-portrait-headshot_1163-5163.jpg?t=st=1728167245~exp=1728170845~hmac=d9b58e698af7d52ce778d02f64e994da9742f814397d123af287bcd5e5ae8b98&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">François Martin</h5>
                            <p class="card-text">Référent Administratif et Financier</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">francois.martin@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 90</li>
                            <li class="list-group-item">Disponibilité : Lundi - Vendredi, 9h - 17h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/femme-affaires-age-moyen-confiant-regardant-camera_74855-4120.jpg?t=st=1728167217~exp=1728170817~hmac=b17538a07c482361be398eb78e33610119904e3d7d0300c45ed1772c9046d312&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">Claire Leroy</h5>
                            <p class="card-text">Directrice d'Agence</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">claire.leroy@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 91</li>
                            <li class="list-group-item">Disponibilité : Lundi - Vendredi, 10h - 16h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/homme-blond-heureuse-expression_1194-1917.jpg?t=st=1728167310~exp=1728170910~hmac=d7a698c7fc14aec98e200cf44305cda12d51d11f3c1c94d187c6e64c54145312&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">Julien Lefebvre</h5>
                            <p class="card-text">Référent Location</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">julien.lefebvre@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 92</li>
                            <li class="list-group-item">Disponibilité : Lundi - Vendredi, 9h - 18h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/jeune-femme-affaires-portrait-dans-office_1262-1506.jpg?t=st=1728167478~exp=1728171078~hmac=9ebd29c79f8ed3c1eded25b740bcbfc63b1e9ea02ea42bdad140ad8a2252c4f4&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">Anne Dubois</h5>
                            <p class="card-text">Chargé de Marketing Immobilier</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Anne.dubois@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 94</li>
                            <li class="list-group-item">Disponibilité : Lundi - Vendredi, 9h - 18h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/homme-affaires-hispanique-age-moyen_23-2151098593.jpg?t=st=1728167428~exp=1728171028~hmac=d0ded60ab948f0a2b454727424837d640f433f0dea124e19322b429d67af80aa&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">Camille Moreau</h5>
                            <p class="card-text">Référent Service Client</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">camille.moreau@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 95</li>
                            <li class="list-group-item">Disponibilité : Lundi - Samedi, 9h - 19h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card" style="max-width: 100%;">
                        <img src="https://img.freepik.com/photos-gratuite/heureux-homme-affaires-prospere-posant-exterieur_74855-2004.jpg?t=st=1728167362~exp=1728170962~hmac=f69591fb4a09c434a02f5938c553b0705f600c03e2a77eed84af2f9f027d1ec1&w=1800"
                            class="card-img-top" alt="...">
            
                        <div class="card-body">
                            <h5 class="card-title">Thomas Bernard</h5>
                            <p class="card-text">Expert en Investissement Immobilier</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">thomas.bernard@agenceimmo.com</li>
                            <li class="list-group-item">01 23 45 67 96</li>
                            <li class="list-group-item">Disponibilité : Mardi - Jeudi, 10h - 18h</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Envoyer un message</a>
                            <a href="#" class="card-link">Appel Teams</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="footer px-4">
            <div><a href="https://coreui.io">CoreUI </a><a
                    href="https://coreui.io/product/free-bootstrap-admin-template/">Bootstrap Admin Template</a> &copy;
                2024 creativeLabs.</div>
            <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
        </footer>
    </div>
    <script src="node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <script>
        const header = document.querySelector('header.header');

        document.addEventListener('scroll', () => {
                if (header) {
                    header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
                }
            }
        );

    </script>
    <script src="node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="node_modules/@coreui/chartjs/dist/js/coreui-chartjs.js"></script>
    <script src="node_modules/@coreui/utils/dist/umd/index.js"></script>
    <script src="js/main.js"></script>
    <script>
    </script>
</body>

</html>